@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sacramento&display=swap');display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Josefin+Slab&display=swap');


body{
    overflow-x: hidden;
    font-family: 'Josefin Slab', serif;
}

h1{
    font-family: 'Bad Script', cursive;
}

nav{background-color: #eeeeee;
    margin: 0;
    padding: 0;
    position: relative;
    bottom:16px;
    width: 100%;
}

ul{display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    height:80px;
}
ul>li{
    padding: 5%;
}



ul > h1{
    padding:0;
    font-family: 'Great Vibes', cursive;


}


.firstpagetext{
    text-align: center;                    
    width: 100%;
}  

.myphoto{
    background-image:url(./Images/profile\ picture.jpg);
    background-size: cover;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    margin: 4%;
    position: relative;
    right: 5%;
    top: 20px;
   
}

.aboutme{
    margin:1%;
    width: 90%;
    height: 70%;
    padding: 6%;
    border-top: solid black 0.5px;
    border-left: solid black 0.5px;
    border-right: solid black 0.5px;
    box-shadow: 2px 2px 50px black;
   
}

#projects{
    text-align: center;
    
    
}

#Skills > h1{
  text-align: center;
}

 #hobbies{
     width: 100%;
 }

 #hobbies > div > h1{
    text-align: center;
    margin-bottom: 0;
    position: relative;
    top: 70px;
    color: #eeeeee;
}

#actualhobbies > div >img{
    width: 20%;
    padding: 2%;
    border: 3px solid black;
    background-image: url(./Images/close-up-photography-of-two-clothespins-776633.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#actualhobbies{
    width: 100% ;
    background-image: url(./Images/close-up-of-wooden-plank-326311.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 0;
    color: white;
    padding-top: 100px;
}

#reading{
  position: relative;
  left: 10%;
}

#medical{
    position: relative;
    left: 65%;
    bottom: 140px;
}

#music{
    position: relative;
    left: 10%;
    bottom: 50px;
}

#watching{
    position: relative;
    left: 65%;
    bottom: 190px;
}

#icons > a{
    margin-right: 2%;
    margin-left: 2%;
    
}

#icons{
    margin-top: 8%;
    margin-bottom: 2%;
}

a{
    color: black;
    text-decoration: none;
}

nav > ul > li > a:hover{
    text-shadow:5px 5px 4px black;
}

nav > ul > h1 > a:hover{
    text-shadow:5px 5px 4px black;
}

#footer{
    width: 100%;
    text-align: center;
    background-color: #eeeeee;
   
}
   



@media screen and (min-width:1000px){
body{
    overflow-x: hidden;
    background-image: url(./Images/books-sculpture-write-reading-34627\ \(1\).jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}

li{
     padding: 8%;
}
   
ul > h1{
         padding: 8%;
}

.firstpagetext{
                  text-align: center;                    
                  width: 30%;
                  float: right;
                  position: relative;
                  right: 30%;
                  top: 150px;
                  background-color: black;
                  opacity: 0.7;
                  color: white;
                  
               
}  

.myphoto{
    background-image:url(./Images/profile\ picture.jpg);
    background-size: cover;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    float: left;
    margin: 4%;
    opacity: 1;
}

.aboutme{
    width: 70%;
    height: 17%;
    position: absolute;
    top: 70%;
    left: 10%;
    border-top: solid black 3px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    box-shadow: 2px 80px 80px black;
    opacity: 0.7;
    color: white;
    background-color:black;
    font: weight 500;
}

#aboutme{

    width: 70%;
    position: absolute;
    left: 20%;
    top: 10%;
   
    
    
}

#projects{
    text-align: center;
    position: absolute;
    top: 150%;
    left: 7%;
    box-shadow: 5px 5px 5px black;
    padding: 0 10%;
}

#Skills{
    position: absolute;
    top: 200%;
    padding: 0;
    margin: 0;
}

#Skills > p{
    width: 40%;
    float: right;
    margin-right: 8%;
}

#Skills > h1{
   float: left;
   margin-left: 8%;
}

#hobbies{
    position: absolute;
    top: 210%;
    width: 100%;
    height: 50px;
 
    
}

#actualhobbies{
    width: 100% ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

#actualhobbies > div >img{
    width: 20%;
    padding: 2%;
    border: 3px solid black;
    background-repeat: no-repeat;
    background-image: url(./Images/close-up-photography-of-two-clothespins-776633.jpg);
    background-size: cover;
}

#reading{
  color:#eeeeee;
  position: relative;
  top: 90px; 
}

#medical{
    color: #eeeeee;
    position: relative;
    bottom: 200px;
    
}

#music{
    color: #eeeeee;
}

#watching{
  color: #eeeeee;
  position: relative;
  bottom: 330px;
    
}

#footer{
    position: absolute;
    top: 387%;
    height: 40%;
} 
             
}